.add-property {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.add-property-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-property-item {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
}
